port 8000
memcache_host 127.0.0.1
memcache_port 8080
#allowed 10.0.0.1
access_log /var/log/sarm/squid_access.log
db_driver sqlite
db_dir /var/lib/sarm
db_update_interval 5
ignore_denied true
log_level note
log_file /var/log/sarm/sarm.log
#debug_unixsocket /var/log/sarm/sarm_debug
tz Europe/Moscow
dist_dir /usr/share/squidarm-web
#usernames_source system
